{{> header}}

<div class="container">
  <div class="row">
    <div class="col-sm-8 main-container">
        <h3>Inverted Navbar</h3>
        <p>An inverted navbar is black instead of gray.</p>
    </div>
    <div class="col-sm-4 tweets">
       <h3>This is new.</h3>
    </div>
  </div>    
</div>